
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
      <mat-selection-list [multiple]="false">
          <mat-list-item>
            <div mat-line>MyTube</div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-option  routerLink="/home" routerLinkActive="active"  >
            <mat-icon mat-list-icon>home</mat-icon>
            <div mat-line>Principal</div>
     
          </mat-list-option>

          <mat-list-option routerLink="/video-upload" routerLinkActive="active" >
              <mat-icon mat-list-icon>upgrade</mat-icon>
              <div mat-line>Subir Video</div>
       
            </mat-list-option>
            <mat-list-option (click)="sigout()" routerLink="/login" routerLinkActive="active" >
              <mat-icon mat-list-icon>exit_to_app</mat-icon>
              <div mat-line>Salir</div>
       
            </mat-list-option>
        </mat-selection-list>
  </mat-drawer>



  <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>MyTube</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

  

</mat-drawer-container>